<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header', { title: 'Big Data Simulator 2018' }) %>
        <link rel="stylesheet" href="css/bibliography.css">
    </head>
    <body>
        <div class="flex-content">
            <div id="works-cited" class="flex-content">
                <h1>Works Cited</h1>
                <p>Gaynor, Michael J. "Can Big Data Predict Which Bills Will Pass Congress?" The Washington Post, 1 Feb. 2018, www.washingtonpost.com/lifestyle/magazine/can-big-data-predict-which-bills-will-pass-congress/2018/01/31/ffe6c162-f7c3-11e7-b34a-b85626af34ef_story.html?noredirect=on&utm_term=.32f2965c2db7. Accessed 1 May 2018.</p>
                <p>Helms, Josh. "Five Examples of How Federal Agencies Use Big Data." IBM Center for the Business of Government, www.businessofgovernment.org/BigData3Blog.html. Accessed 16 Mar. 2018.</p>
                <p>Hoyle, Larry, and Patricia Oslund. "Data Mining." Issues: Understanding Controversy and Society, ABC-CLIO, 2018, issues.abc-clio.com/Search/Display/1829024. Accessed 15 Mar. 2018.</p>
                <p>Poskanzer, Deborah R. "Big Data." Ethics, Science, Technology, and Engineering: A Global Resource, edited by J. Britt Holbrook, 2nd ed., vol. 1, Macmillan Reference USA, 2015, pp. 210-212. Global Issues in Context, http://link.galegroup.com/apps/doc/CX3727600092/GIC?u=sain62671&xid=5162f17d. Accessed 15 Mar. 2018.</p>
                <p>Schroeder, Ralph. Social Theory after the Internet: Media, Technology, and Globalization. UCL Press, 2018. JSTOR, www.jstor.org/stable/j.ctt20krxdr.</p>
                <p>Shi, Yong. Big Data History, Current Status, and Challenges Going Forward. 15 Dec. 2014. National Academy of Engineering, www.nae.edu/19582/Bridge/128772/129211.aspx. Accessed 25 Apr. 2018.</p>
                <p>"Technology Globalisation." 2 May 2018. Pixabay, 2 May 2018, pixabay.com/en/technology-globalisation-3369659/. Accessed 9 May 2018.</p>
                <p>Todd, Chuck, and Carrie Dann. "How Big Data Broke American Politics." NBC News, 14 Mar. 2017, www.nbcnews.com/politics/elections/how-big-data-broke-american-politics-n732901. Accessed 30 Apr. 2018.</p>
                <p>UN Global Pulse. Big Data for Development: Challenges & Opportunities. UN Global Pulse, May 2012, www.unglobalpulse.org/sites/default/files/BigDataforDevelopment-UNGlobalPulseMay2012.pdf. Accessed 16 Mar. 2018.</p>
                <p>United Nations. "Big Data for Sustainable Development." United Nations, www.un.org/en/sections/issues-depth/big-data-sustainable-development/index.html. Accessed 16 Mar. 2018.</p>
                <a href="/" class="btn btn-lg btn-primary">Take me back</a>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>
