<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header', { title: 'big data game' }) %>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div id="content">
            <p>it works: <%= 2 + 2 %></p>
            <p id="data">Data: <span>0 GB</span></p>
            <p id="money">Money: $<span>0</span></p>
            <p id="data-per-click">Data gained per click: <span>1.00 GB</span></p>
            <p id="money-per-gig">Money gained per GB data sold: $<span>5.00</span></p>
        </div>

        <%- include('partials/footer') %>
        <script src="js/index.js"></script>
    </body>
</html>
