<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header', { title: 'big data game' }) %>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div id="content">
            <p>it works: <%= 2 + 2 %></p>
        </div>

        <%- include('partials/footer') %>
        <script src="js/index.js"></script>
    </body>
</html>
