<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header', { title: 'big data game' }) %>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div id="menu" class="flex-content">
            <h1>Big Data Game</h1>
            <a href="/game" class="btn btn-lg btn-primary">Play!</a>
        </div>
    <%- include('partials/footer') %>
    </body>
</html>
