<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header', { title: 'Big Data Simulator 2018 | Congratulations!' }) %>
        <link rel="stylesheet" href="css/success.css">
    </head>
    <body>
        <div id="success" class="flex-content">
            <h1>Congratulations!</h1>
            <p>You achieved a balance of over $250,000!</p>
            <div class="btn-group-vertical">
                <a href="/game" class="btn btn-primary">I want to play again!</a>
                <a href="/" class="btn btn-info">Take me back to the beginning.</a>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>
