@import "global";

#content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	flex-flow: row wrap;

	> div {
		width: 40vw;
	}
}

#main-panel .btn-group {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.big-number-stats {
	flex-flow: row nowrap;
}

.big-stat {
	padding: 1vh 1vw;

	// height: 10vh;
	min-width: 10vw;

	h3 {
		text-align: center;
		font-size: 1.25em;
	}

	p {
		text-align: center;
		margin: 0;
	}

	.value {
		font-size: 3em;
	}

	.unit {
		font-size: 1em;
	}

	border-right: 1px solid transparentize(black, 0.9);

	&:first-of-type {
		border-left: 1px solid transparentize(black, 0.9);
	}
}

#events {
	max-height: 50vh;
	overflow-y: auto;
}

#event-log {
	margin-top: 5%;
}

#research {
	width: 40vw;
}

#research-items {
	max-height: 90vh;
	overflow-y: auto;
	flex-direction: row;
}

.research-item {
	margin-top: 1%;
	margin-bottom: 1%;

	h4 {
		font-size: 1.25em;
	}
}
